---
import { Icon } from "astro-icon";

const {
  text,
  href,
  icon,
  color,
  size = "32px",
  classes,
  ...rest
} = Astro.props;
---

<a
  href={href}
  class:list={[classes]}
  {...rest}
  target="_blank"
  aria-label={`Link to ${icon.name}`}
  id={icon}
>
  <Icon name={icon} color={color} width={size} class="icon" />
</a>

<style>
  a {
    position: relative;
    display: grid;
    place-content: center;
    width: 64px;
    border-radius: 2rem;
    pointer-events: none;
    transition: background-color 0s ease-in-out 0s;
  }

  [astro-icon] {
    transition: all 0.2s ease-in-out;
    pointer-events: auto;
  }

  [astro-icon]:hover {
    width: 64px;
  }
  a:not(#Instagram):hover {
    background-color: white;
    transition: background-color 0.2s ease-in-out 0.1s;
  }

  [astro-icon="fa:twitter-square"]:hover {
    color: #00acee;
  }
  [astro-icon="fa:github-square"]:hover {
    color: #333;
  }
  [astro-icon="fa:instagram"]:hover {
    color: #e1306c;
  }
  [astro-icon="fa:linkedin-square"]:hover {
    color: #0077b5;
  }

  @media screen and (max-width: 1024px) {
    [astro-icon] {
      width: 32px;
    }
    a {
      width: 32px;
    }
  }

  @media screen and (max-width: 768px) {
    [astro-icon] {
      width: 24px;
    }
    a {
      width: 24px;
    }
  }
</style>
