---
import "@splidejs/splide/css";
import projectsData from "../../data/projectsData";

import ProjectSlide from "../Works/ProjectSlide.astro";
---

<section class="splide text-white" aria-label="Splide Basic HTML Example">
  <div class="splide__track">
    <ul class="splide__list">
      {
        projectsData.map((project) => (
          <li class="splide__slide">
            <ProjectSlide
              src={project.source}
              description={project.description}
              technologies={project.technologies}
              client={project.client}
              website={project.website}
              github={project.github}
              title={project.title}
            />
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .splide {
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }
</style>

<script>
  import Splide from "@splidejs/splide";

  document.addEventListener("DOMContentLoaded", () => {
    const splide = new Splide(".splide");
    splide.mount();
  });
</script>
