---
import Icon from "astro-icon";
import "./projects.css";
const { index, title, technologies, github } = Astro.props;
---

<a
  href={github}
  target="_blank"
  aria-label={`Link to the Repo of ${title}`}
  id={index}
  class="card"
  data-type="card"
>
  <div class="background">
    <img src="src/images/sculpt-1.jpg" alt="test" />
  </div>
  <span class="index">{index}</span>
  <span class="title">{title}</span>
  <ul class="technos">
    {technologies.map((tech: string) => <li>{tech}.</li>)}
  </ul>

  <!--  <Icon name="fa:github-square" color="white" width="24px" class="icon" /> -->
</a>

<style>
  .technos {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    position: relative;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-columns: 10% 1fr auto;
    overflow: hidden;
    transition: all 1s ease;
    cursor: pointer;
    border-bottom: 1px solid var(--text-primary);
    padding-inline-end: 2rem;
    max-width: 100%;
  }

  .card:first-child {
    border-top: 1px solid var(--text-primary);
  }

  .index,
  .title {
    font-family: var(--headings-font-family);
    font-size: 6rem;
    line-height: 1;
  }

  .technos {
    font-family: var(--paragraph-font-family);
    font-size: 1.5rem;
    line-height: 1;
  }

  .card:hover {
    padding-block: 2rem;
  }
  .card:hover .background {
    top: 0;
  }
  .background {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 1s ease;
  }

  .background img {
    height: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 1280px) {
    .card {
      grid-template-columns: 10% 1fr auto;
      padding-inline-end: 0.5rem;
      gap: 1rem;
      padding-block: 2rem;
    }

    .index,
    .title {
      font-size: 4rem;
    }

    .technos {
      display: flex;

      font-size: 1.2rem;
    }

    .background {
      top: 0;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      grid-template-columns: 10% 1fr auto;
      padding-inline-end: 0.5rem;
    }

    .index,
    .title {
      font-size: 2rem;
    }

    .technos {
      font-size: 1rem;
      flex-direction: column;
      text-align: right;
    }

    a {
      display: none;
    }
  }
</style>
