---
import LaptopMockup from "../Mockups/LaptopMockup.astro";

const { src, description, technologies, client, title, website, github } =
  Astro.props;
---

<div class="slide">
  <LaptopMockup src={src} />

  <div class="right flex flex-col gap-8">
    <p>
      DESCRIPTION <br />
      {description}
    </p>
    <p>
      TECHNOLOGIES UTILISEES <br />
      {technologies}
    </p>
    <p>
      CLIENT <br />
      {client}
    </p>
  </div>
  <h1>{title}</h1>
  <div class="links">
    <a href="#">{website}</a>
    <a href="#">{github}</a>
  </div>
</div>

<style>
  img {
    width: 400px;
  }
  .slide {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "mockup text"
      "title links";
    column-gap: 4rem;
    row-gap: 2rem;
    padding-inline: 8rem;
    padding-block: 2rem;
  }
</style>
