---
import LaptopMockup from "../Mockups/LaptopMockup.astro";

const { src, description, technologies, client, title, website, github } =
  Astro.props;
---

<li class="splide__slide">
  <!--   <div class="overlay"></div> -->
  <div class="mockup rounded-t-2xl relative w-3/4 justify-self-center">
    <LaptopMockup src={src} />

    <!-- <MobileMockup src={src} /> -->
    <h4 class="title">{title}</h4>
  </div>

  <div class="text flex flex-col gap-4">
    <div>
      <h4>DESCRIPTION</h4>
      <p class="max-w-[60ch]">
        {description}
      </p>
    </div>
    <div>
      <h4>TECHNOLOGIES UTILISEES</h4>
      <p>
        {technologies}
      </p>
    </div>
    <div>
      <h4>CLIENT</h4>
      <p>
        {client}
      </p>
    </div>
  </div>

  <div class="links flex gap-8">
    {website && <a href="#">{website}Le site live</a>}
    <a href={github} target="_blank">Le repo Github</a>
  </div>
</li>

<style>
  .splide__slide {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
      "mockup text"
      "mockup links";
    column-gap: 4rem;
    row-gap: 2rem;
    border-radius: 2rem;
    /*  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      var(--component-bg-active) 10%,
      var(--component-bg-active) 90%,
      rgba(0, 0, 0, 0) 100%
    ); */
    padding: 2rem;
  }

  @media screen and (max-width: 768px) {
    .splide__slide {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "text"
        "mockup";
    }

    .mockup {
      grid-area: "mockup";
    }

    .links,
    .text {
      grid-area: "text";
    }
  }
  .splide__slide h4 {
    font-size: 2rem;
    font-family: var(--headings-font-family);
  }
  .splide__slide .title {
    position: relative;
    width: fit-content;
    justify-self: center;
    padding-inline: 1rem;
    font-size: 3rem;
  }

  .mockup {
    grid-area: mockup;
    background-color: var(--bg-primary);
    overflow: hidden;
  }

  .links {
    grid-area: links;
  }
</style>
