---
import Head from "./Head.astro";

// import styling files
import "@radix-ui/themes/styles.css";
import "../styles/global.css";
import { Image } from "astro:assets";
import background from "../images/statue.jpg";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="dark">
    <div class="wrapper">
      <div class="background bg-1">
        <Image src={background} alt="background" class="image" />
      </div>

      <slot />
    </div>

    <style>
      .background {
        position: fixed;
        height: 100svh;
        border: 2px solid red;
        width: 130vw;
      }
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>

    <script>
      import gsap from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";

      gsap.registerPlugin(ScrollTrigger);

      const background = document.querySelector(".background") as HTMLElement;
      const hero = document.querySelector("#hero") as HTMLElement;
      const contact = document.querySelector("#contact") as HTMLElement;

      const tl1 = gsap.timeline({
        scrollTrigger: {
          trigger: hero,
          start: "top top",
          end: "bottom top",
          scrub: true,
        },
      });

      const tl2 = gsap.timeline({
        scrollTrigger: {
          trigger: contact,
          start: "top bottom",
          end: "bottom bottom",
          scrub: true,
        },
      });

      tl1.to(background, {
        opacity: 0.1,
      });

      tl2.to(background, {
        opacity: 0.5,
      });

      /*    tl.to(background, {
        scrollTrigger: {
          trigger: hero,

          start: "top top",
          end: "bottom top",
          scrub: true,
        },
        opacity: 0.1,
      }).to(background, {
        scrollTrigger: {
          trigger: contact,
          start: "top bottom",
          end: "bottom bottom",
          markers: true,
        },
        opacity: 1,
      }); */

      const header = document.querySelector("header") as HTMLElement;
      const footer = document.querySelector("footer") as HTMLElement;
      const headerHeight = header.offsetHeight;
      const footerHeight = footer.offsetHeight;

      document.addEventListener("astro:after-swap", () => {
        document.documentElement.style.setProperty(
          "--header-height",
          `${headerHeight}px`,
        );
        document.documentElement.style.setProperty(
          "--footer-height",
          `${footerHeight}px`,
        );
      });

      window.addEventListener("DOMContentLoaded", () => {
        document.documentElement.style.setProperty(
          "--header-height",
          `${headerHeight}px`,
        );
        document.documentElement.style.setProperty(
          "--footer-height",
          `${footerHeight}px`,
        );
      });
    </script>
  </body>
</html>
